* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
}

body {
	background-color: #1a386b;
	color: #888888;
}


.container {
	margin-top: 75px;
	/*margin-left: 0px;*/
	/*margin-right: 0px;*/
	/*padding: 0px;*/
}

#testlogo {
	border: 1px solid black;
	width: 100px;
	height: 39px;
}

.boxBlack {
/*	border: 1px solid black;
	padding: 10px;
	margin: 15px;
	box-shadow: 0px 0px 10px 10px black;
	color: white;
	background-color: black;*/
}

.boxWhite {
	/*border: 1px solid white;*/
	/*padding: 10px;*/
	/*margin: 15px;*/
	/*box-shadow: 0px 0px 10px 10px white;*/
	/*color: black;*/
	/*background-color: white;*/
	/*overflow: visible;*/
}

.footer {
	background-color: black;
	color: #9d9d9d;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}
/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
